# Ignore bundler config
/.bundle

# Ignore the default SQLite database
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles
/log/*.log
/tmp

# Ignore rbenv files
.rbenv-gemsets

# Ignore yml files
/config/*.yml
/config/deploy/**/*.yml.erb

# Ignore solr files
solr/data
solr/test
solr/development
solr/default/data
/log/*.log.lck
solr/pids
