<div class="breadcrumb-container">
  <ul class="breadcrumb">
    <li><%= link_to SenderAccess.model_name.human(count: 2), sender_accesses_path %></li>
    <li class="active"><%=t('.title')%></li>
  </ul>
</div>

<h3><%=t('.title')%></h3>

<%= render 'form' %>
