<div class="breadcrumb-container">
  <ul class="breadcrumb">
    <li><%= link_to t('.collection_title'), api_clients_path %></li>
    <li class="active"><%=t('.title')%></li>
  </ul>
</div>

<h3><%=t('.title')%></h3>

<%= render 'form' %>
